 .header {
   display: flex;
   flex-direction: column;
   align-items: center;
   &__img {
      @include flex-center;
      margin: 25px 0 15px 0;
   }
   &__logo {
      width: 50%;
   }
   &__infos {
      background: $background-color;
      text-align: center;
      padding: 5%;
   }
   &__infosTitle {
      font-size: 1.7em;
      font-weight: 700;
   }
   &__infosSubtitle {
      font-size: 1.2em;
      font-weight: 400;
   }
 }