 .header {
   display: flex;
   justify-content: center;
   align-items: center;
   &__img {
      @include flex-center;
      margin: 25px 0 15px 0;
   }
   &__logo {
      width: 50%;
   }
   &__infos {
      background: $background-color;
      text-align: center;
      padding: 5%;
   }
 }