.header__btn {
    padding: 15px;
    border-radius: 45px;
    background: $secondary-color;
    border: none;
    color: #FFFF;
    -webkit-box-shadow: -4px 10px 15px 0px rgba(0,0,0,0.2); 
    box-shadow: -4px 10px 15px 0px rgba(0,0,0,0.2);
    margin-bottom: 25px;
    }

