@mixin flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

@mixin acceuil-boxShadow {
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.38);
}

@mixin cursive-font {
    font-family: "Shrikhand", cursive;
}

@mixin gradient {
    background: linear-gradient(-190deg, #FF46C1 0%, #FF79DA 20%, #9F49B9 100%);
}

@mixin word-ellipsis {
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
}