$primary-color: #9356DC; 
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F2F2F2;

$layout-breakpoint-tablette: 768px;
$layout-breakpoint-desktop: 1290px;
$layout-breakpoint-wide: 1921px;
$layout-breakpoint-4k: 2560px;